BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 120
AllowShortBlocksOnASingleLine: false
NamespaceIndentation: All
PointerAlignment: Left
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
AllowShortFunctionsOnASingleLine: false
AllowAllArgumentsOnNextLine: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: false
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: false
